
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container-fluid">
  <a class="navbar-brand" href="/">Trade Report</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
		   <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  world </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="/worldindices"> World Indices</a></li>
			  <li><a class="dropdown-item" href="/currency"> Currency </a></li>
			  <li><a class="dropdown-item" href="/crypto"> Crypto Currency </a></li>
		    </ul>
		</li>
		<li class="nav-item dropdown">
		   <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  NSE Indices </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="/nifty50"> NIFTY 50</a></li>
			  <li><a class="dropdown-item" href="/banknifty"> BANK NIFTY </a></li>
		    </ul>
		</li>
		<li class="nav-item"><a class="nav-link" href="/calender"> Calender </a></li>
		<li class="nav-item dropdown">
		   <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Screener </a>
		    <ul class="dropdown-menu">
			  	<li><a class="dropdown-item" href="/capitalized">Most Capitalized</a></li>
				<li><a class="dropdown-item" href="/weekhigh">New 52-week high</a></li>
				<li><a class="dropdown-item" href="/weeklow">New 52-week low</a></li>
				<li><a class="dropdown-item" href="/sma50">Outperform SMA50</a></li>
		    </ul>
		</li>
		<li class="nav-item dropdown">
		   <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Return Calculator </a>
		    <ul class="dropdown-menu">
			  	<li><a class="dropdown-item" href="/invest">One time Investment</a></li>
		    </ul>
		</li>
		<li class="nav-item"><a class="nav-link" href="/balance"> Company Data </a></li>
	</ul>
  </div> <!-- navbar-collapse.// -->
 </div> <!-- container-fluid.// -->
</nav>